/* Plain CSS Helper classes */


/* Width & Height */

.width-100-p {
    width: 100%;
}

.width-50-p {
    width: 50%;
}

.width-33-p {
    width: 33.33%;
}

.width-auto {
    width: auto;
}

.height-100-p {
    height: 100%;
}


/* Aligment */

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-top {
    vertical-align: top;
}

/* Display */

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-none {
    display: none;
}

.display-table {
    display: table;
}

.display-table-row {
    display: table-row;
}

.display-table-cell {
    display: table-cell;
}

.table-layout-fixed {
    table-layout: fixed;
}

/* Position */

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.overflow-hidden {
    overflow: hidden;
}

/* Z-index */

.z-index--3 {
    z-index: -3;
}

.z-index--2 {
    z-index: -2;
}

.z-index--1 {
    z-index: -1;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

/* Text & Font */

.font-weight-bold, .bold {
    font-weight: bold;
}

.font-style-italic, .italic {
    font-style: italic;
}

.text-decoration-underline, .underline {
    text-decoration: underline;
}

.text-decoration-none {
    text-decoration: none;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-justify {
    text-align: justify;
}

.text-transform-uppercase, .uppercase {
    text-transform: uppercase;
}

.white-space-nowrap, .nowrap {
    white-space: nowrap;
}

.line-height-1 {
    line-height: 1;
}

/* Margin & Padding */

.margin-0-auto {
    margin: 0 auto;
}

.margin-0 {
    margin: 0;
}

.padding-0 {
    padding: 0;
}


/* Borders */

.border-none {
    border: none;
}

.outline-none {
    outline: none;
}

/* List */

.list-style-type-none {
    list-style-type: none;
}

/* Flexbox */

.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-1-0-auto {
    flex: 1 0 auto;
}

/* Float */

.float-left {
    float: left;
}

.float-right {
    float: left;
}

.clear-both {
    clear: both;
}

/* Cursor */

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.user-select-none {
    user-select: none;
}